@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


.body{
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    min-height: 100vh;
    @media (min-width: $mantine-breakpoint-md) {
        /* background: white;
        background-image: radial-gradient(#badbf0 1px, #e1ebf1 0);
        background-size: 5px 5px;
        background-position: -19px -19px; */
         background-color: #0F66A0;
        background-image: radial-gradient(#4b9ed5 1px, #0F66A0 0);
        background-size: 80px 80px;
        background-position: -19px -19px;
        }
    /* overflow-x: hidden; */
    @media (max-width: $mantine-breakpoint-md) {
        background-color: #0F66A0;
        background-image: radial-gradient(#4b9ed5 1px, #0F66A0 0);
        background-size: 80px 80px;
        background-position: -19px -19px;
  }
}

.footerWrapper{
    position: relative;
}
.footer{
    width: 100%;
    position:absolute;
    bottom: 0;
}

.header{
    position: fixed;
    top: 0;
}

.main{
    min-height: 100vh;
    position: relative;
}

