@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


.body{
    /* background-color: #fbf6df; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    /* overflow-x: hidden; */
}

.footer{
    width: 100%;
    position:absolute;
    bottom: 0;
}

.header{
    position: fixed;
    top: 0;
}
