.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
  max-width: rem(500px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: #2F2E41;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(48px);
  line-height: 1.2;
  font-weight: 900;
  z-index: 1;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(32px);
  }
}

.logoText {
  color: #2F2E41;
  font-family:
     Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.2;
  /* letter-spacing: 0px; */
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.header {
   /* background-color: #fbf6df; */
   background-color: #f9f9f9;
   position: absolute;
   width: 100vw;
   top: 0;
}

.qodi{
  /* color: #845ef7; */
  color: #51A3A3;
}

.subtitle {
  color: #3F3D56;
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: rem(480px);
  height: rem(500px);
  object-fit: contain;
  z-index: 1;
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.heroDots {
  color: #2F2E41;
  z-index: -1;
  @media (max-width: $mantine-breakpoint-md) {
    color: #e3f2f2;
  }
}

.hero{
  padding-top: 15vh;
  min-height: 50vh;
}

.backgroundBlob {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -10 !important;
  height: 100vh;
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  /* color: light-dark(var(--mantine-color-lime-6), var(--mantine-color-lime-4)); */
    color: #EF6F6C;
}

.footer{
      width: 100vw;
        height: 125px;
        background:#3F3D56;
        display: flex;
        position: absolute;
        bottom: 0,
        marg
}

.footerText {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.card {
  /* border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5)); */
  background-color: rgba(0, 0, 0, 0.05);
}

.cardTitle {
  &::after {
    content: '';
    display: block;
    background-color: #EF6F6C;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
  }
}