.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}

.content {
  max-width: rem(600px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: #2F2E41;
  font-family:
    Fredoka,
    var(--mantine-font-family);
  font-size: rem(48px);
  line-height: 1.2;
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.logoText {
  color: #2F2E41;
  font-family:
    Fredoka,
    var(--mantine-font-family);
  line-height: 1.2;
  letter-spacing: 0px;
  font-weight: 500;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.headerBackground {
   /* background-color: #fbf6df; */
   background-color: #f9f9f9;
}

.qodi{
  color: #845ef7;
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: rem(500px);
  height: rem(500px);
  object-fit: contain;

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.highlight {
  color: light-dark(var(--mantine-color-yellow-6), var(--mantine-color-yellow-4));
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}