.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl));
  padding-bottom: calc(var(--mantine-spacing-xl) * 3);
  @media (max-width: $mantine-breakpoint-xs) {
    padding-top: calc(var(--mantine-spacing-xs));
  padding-bottom: calc(var(--mantine-spacing-xs));
  }
}

.content {
  max-width: rem(500px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: rem(200px);
    font-size: 5px;
    color: #79A3C6;
  }
  @media (max-width: $mantine-breakpoint-md) {
    max-width: 50%;
  }
  @media (max-width: $mantine-breakpoint-xs) {
    max-width: 100%;
    margin-right: 0;
    color: #79A3C6;
  }
  
}

.heroText{
  color: #D2E0EC;
  @media (max-width: $mantine-breakpoint-md) {
    color: #D2E0EC;
    font-size: 0.9rem;
  }
}

.heroTitle {
  /* color: #000000; */
  color: #ffffff;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(64px);
  line-height: 1.2;
  font-weight: 900;
  z-index: 1;

 
  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(50px);
    color: #ffffff;
  }
   @media (max-width: $mantine-breakpoint-sm) {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
  }
}

.logoText {
  color: #2F2E41;
  font-family:
     Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.2;
  /* letter-spacing: 1px; */
  font-weight: 700;
@media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(12px);
  }
}

.headerText {
  color: #0F66A0;
  font-family:
     Greycliff CF,
    var(--mantine-font-family);
  /* line-height: 1.2; */
  /* letter-spacing: 0px; */
  font-weight: 500;
}

.header {
   background-color: #0F66A0;
   
   /* background: linear-gradient(#ffffff 60%,#ffffff00 ); */
   position: absolute;
   padding-bottom: 2px;
   width: 100vw;
   top: 0;
   @media (min-width: $mantine-breakpoint-sm) {
    background-image: radial-gradient(#525067 1px, #012e4a 0);
    /* background-size: 40px 40px;
    background-position: -19px -19px; */
  }
   
}

.qodi{
  /* color: #4E4C6B; */
  color: #ffffff;
  @media (max-width: $mantine-breakpoint-sm) {
    color: #ffffff;
  }
}
.slash{
  /* color: #845ef7; */
  color: #d7d5e7;
}

.subtitle {
    /* color: #0e66a0; */
    color: #43B4FF;
    @media (max-width: $mantine-breakpoint-sm) {
    color: #43B4FF;
  }

}

.logo{
   cursor: pointer; 
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.heroImage {
  width: rem(700px);
  object-fit: contain;
  z-index: 1;
  @media (max-width: $mantine-breakpoint-lg) {
     width: rem(400px);
     margin-top: 180px;
  }
  @media (max-width: $mantine-breakpoint-md) {
    width: rem(350px);
     margin-top: 180px;
  }
   @media (max-width: $mantine-breakpoint-sm) {
    width: rem(300px);
     margin-top: 140px;
  }
}

.heroDots {
  /* color: #2F2E41; */
  color: #4C9ED5;
  z-index: -1;

  @media (max-width: $mantine-breakpoint-xs) {
    display: none;
  }
}

.hero{
  padding-top: 15vh;
  min-height: 30vh;
   @media (max-width: $mantine-breakpoint-xs) {
    padding-top: 10vh;
  }
}

.highlight {
  /* color: light-dark(var(--mantine-color-lime-6), var(--mantine-color-lime-4)); */
    /* color: #0e66a0; */
    color: #44b4ff;
    @media (max-width: $mantine-breakpoint-md) {
      color: #44b4ff;
  }
}

.slogan{
  
  font-size: 8px;
  color: #77b1d4;
}

.footer{
  border-top: 1px dashed #525067;
      width: 100vw;
        height: 175px;
        background:#012E4A;
        display: flex;
        position: absolute;
        bottom: 0,
        marg
}

.footerText {
  width: 100vw;
  color: #9896b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  

  @media (max-width: $mantine-breakpoint-sm) {
  }
}

.card {
  border: rem(1px) solid #525067;
  background-color: #012e4a;
  @media (max-width: $mantine-breakpoint-sm) {
    margin: 0;
  }
}

.contactCard {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: radial-gradient(#badbf0 1px, #e1ebf1 0);
    background-size: 5px 5px;
    background-position: -19px -19px;
    @media (max-width: $mantine-breakpoint-xs) {
      padding: 1rem;
    }
}

.page{
    background-image: radial-gradient(#525067 1px, #012e4a 0);
    background-size: 40px 40px;
    min-height: 100vh;
    background-position: -19px -19px;
    padding-top: 5rem;
    /* padding: 4rem; */
    padding-bottom: 5rem;
}

.articleTitle{
  color: #0F66A0;
}

.articleContainer{
  background-image: radial-gradient(#badbf0 1px, #f0f4f7 0);
  background-size: 30px 30px;
  background-position: -19px -19px;
  box-shadow: '0px -15px 10px 0px rgba(200, 0, 0, 0.5)';
  background-color: #ffffff;
  border-radius: 15px;
  padding-left: 0;
  padding-right: 0;
  @media (max-width: $mantine-breakpoint-sm) {
      margin: 0;
    }
}

.articleContent{
  padding: 3rem;
  @media (max-width: $mantine-breakpoint-sm) {
      padding: 1rem;
    }
}

.titleCard{
  background-image: linear-gradient(to right, #0F66A090 , #012e4a90 ), url('~/public/images/laptops.jpg');
  background-size: cover; /* or "contain" depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  padding: 2rem;
  padding-left: 3rem;
  overflow-wrap: break-word;
  @media (max-width: $mantine-breakpoint-sm) {
      padding-left: 1rem;
    }
}

.pagecard{
  background-image: radial-gradient(#525067 1px, #012e4a 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
    @media (max-width: $mantine-breakpoint-sm) {
    padding: 0px !important;
    margin: 0px !important;
  }
}

.pricingCard{
  background-image: radial-gradient(#badbf0 1px, #e1ebf1 0);
    background-size: 5px 5px;
    background-position: -19px -19px;
}

.cardTitle {
  &::after {
    content: '';
    display: block;
    background-color: #EF6F6C;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
  }
}